<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ac.linker.mapper.BoardMapper">
  <select id="getBoardTitle" resultType="ac.linker.vo.BoardVo">
    SELECT board_title
    FROM board
    WHERE board_writer=#{boardWriter}
  </select>
</mapper>
