<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ac.linker.mapper.ConnectMapper">
  <select id="getAllUser" resultType="java.util.HashMap">
    SELECT * 
    FROM user;
  </select>
  
  <select id="getUserName" resultType="java.util.HashMap">
    SELECT user_name
    FROM user
    WHERE user_id=#{userId};
  </select>

  <select id="getSkin" resultType="java.util.HashMap">
    SELECT skin_color,skin_role
    FROM skin
    WHERE skin_user_no = (
      SELECT global_user_no
      FROM user
      WHERE user_id = #{userId});
  </select>

  <select id="getRoom" resultType="java.util.HashMap">
    SELECT * 
    FROM room 
    WHERE global_room_no in (
      SELECT joining_room_no 
      FROM joining 
      WHERE joining_user_no = (
        SELECT global_user_no 
        FROM user 
        WHERE user_id = #{userId})
      ) group by global_room_no;
  </select>
  
  <select id="getRoomByCode" resultType="java.util.HashMap">
    SELECT room_name 
    FROM room 
    WHERE room_code = #{roomCode}
  </select>

  <select id="getCodeByName" resultType="java.util.HashMap">
    SELECT room_code 
    FROM room 
    WHERE room_name = #{roomName}
  </select>

  <insert id="insertUser">
    INSERT INTO user(user_auth_token,user_name,user_id,user_join_dt)
    VALUES (#{authToken},#{displayName},#{userId},#{joinDate})
  </insert>
  
  <insert id="insertRoom">
    INSERT INTO room(room_name,room_code,room_max,room_create_dt)
    VALUES (#{roomName},#{roomCode},#{roomMax},#{createDate})
  </insert>

  <insert id="insertJoin">
    INSERT INTO joining VALUES((
      SELECT global_user_no 
      FROM user 
      WHERE user_id = #{userId}),(
      SELECT global_room_no 
      FROM room 
      WHERE room_name = #{roomName})
    )
  </insert>

  <update id="updateToken">
    UPDATE user
    SET user_auth_token=#{authToken}
    WHERE user_id=#{userId}
  </update>

</mapper>