<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ac.linker.mapper.ConnectMapper">
  <select id="getRoomByCode" resultType="java.util.HashMap">
    SELECT room_name 
    FROM room 
    WHERE room_code = #{roomCode}
  </select>

  <select id="getCodeByName" resultType="java.util.HashMap">
    SELECT room_code 
    FROM room 
    WHERE room_name = #{roomName}
  </select>

  <select id="findRoom" resultType="java.util.HashMap">
    SELECT room_name
    FROM room
    WHERE room_name = #{roomName}
  </select>

  <insert id="insertRoom" parameterType="ac.linker.dto.RoomDto" useGeneratedKeys="true" keyProperty="roomNo" keyColumn="global_room_no">
    INSERT INTO room(room_name,room_create_dt)
    VALUES (#{roomName},#{createDate})
  </insert>

  <insert id="insertJoin">
    INSERT INTO joining VALUES((
      SELECT global_user_no 
      FROM user 
      WHERE user_id = #{userId}),(
      SELECT global_room_no 
      FROM room 
      WHERE room_name = #{roomName}),
      NOW()
    )
  </insert>

  <update id="updateRoomCode">
    UPDATE room
    SET room_code=#{roomCode}
    WHERE global_room_no=#{roomNo}
      AND room_name=#{roomName}
  </update>

  <update id="updateRoomJoin">
    UPDATE room, joining
    SET room.room_present = room.room_present+1,
    joining.joining_recent_dt = NOW()
    WHERE room.room_name=#{roomName}
    AND joining.joining_user_no=(
      SELECT global_user_no 
      FROM user 
      WHERE user_id = #{userId})
    AND joining.joining_room_no=(
      SELECT global_room_no
      FROM room 
      WHERE room_name = #{roomName}
    );
  </update>

  <update id="updateRoomNewJoin">
    UPDATE room, joining
    SET room.room_present = room.room_present+1,
    room.room_max = room.room_max+1,
    joining.joining_recent_dt = NOW()
    WHERE room.room_name=#{roomName}
    AND joining.joining_user_no=(SELECT joining_user_no FROM
      (SELECT global_user_no AS joining_user_no
      FROM user 
      WHERE user_id = #{userId}) temp)
    AND joining.joining_room_no=(SELECT joining_room_no FROM
      (SELECT global_room_no AS joining_room_no
      FROM room 
      WHERE room_name = #{roomName}) temp2
    );
  </update>

  <update id="updateRoomLeave">
    UPDATE room
    SET room_present = room_present-1
    WHERE room_name=#{roomName}
      AND room_present > 0
  </update>

  <select id="getRoomPresent" resultType="java.util.HashMap">
    SELECT room_present
    FROM room
    WHERE room_name=#{roomName}
  </select>
</mapper>